body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0.25turn,rgb(158, 158, 158), rgb(212, 212, 212), pink, rgb(212, 212, 212),rgb(158, 158, 158));
    font-family: 'Manrope', sans-serif;
    font-size: x-small;
    letter-spacing: 0.1em;
}
/*Gallery*/

#viewer {
    width: 460px;
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 3px 0px grey;
    background-color: rgb(248, 248, 248);
}

/*arrows*/
#rightArrow {
    transform: rotate(0.5turn);
}

#photo {
    max-width: 400px;
    height: 267px;
    display: inline-block;
}

button {
    height: 267px;
    width: 30px;
}

button:hover {
    opacity: 0.5;
}

/*images*/
#gallery {
    position: relative;
    padding: 0px;
    margin: 0px;
    height: 267px;
}

/*description*/
.gray-container {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0px;
    width: 100%;
}

h2 {
    padding: 5px 10px 5px 10px;
    margin: 0px;
}

.gray-container p {
    padding: 5px 10px 5px 10px;
    margin: 0px;
}

/*thumbnails*/

.thumbnail-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.thumbnailTitle {
    background: linear-gradient(to top, rgb(73, 73, 73), rgb(22, 22, 22));;
    color: white;
    border-radius: 3px;
    display: none;
    position: relative;
    margin: 0px;
}

#thumbnails-container {
    display: flex;
    justify-content: center;
    width: 460px;
    height: 50px;
    margin-top: 10px;;
    background: red;
}

.thumbnail {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
  }

.thumbnail-wrap:hover .thumbnailTitle {
    display: block;
}

.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }

.border-wrap {
    position: relative;
    background: linear-gradient(to top, rgb(197, 196, 196), rgb(255, 255, 255));
    padding: 2px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    border-radius: 2px;
    /*box-shadow: 0px 7px 8px -5px rgb(0, 0, 0);*/
}

/*.border-wrap:hover {
    top: -2px;
    box-shadow: 0px 9px 8px -5px rgb(0, 0, 0);
}*/